<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{$data1}
<hr />
<if condition="$data['sex'] eq 男">
强大
    <else />
    弱小
</if>
<hr />
<foreach name="$data3" item="vo" key="k">
    echo '姓名'.{$k}:{$vo.name}.'<br />';
    echo '年龄'.{$data.age}.'<hr />';
</foreach>
</body>
</html>